<div class="grid-container">
  <h2>Мониторинг процессов ETL</h2>
  <dx-data-grid
    keyExpr="ID"
    [dataSource]="dataSource"
    [showColumnLines]="false"
    [showRowLines]="false"
    [showBorders]="false"
    [rowAlternationEnabled]="true"
    (onRowUpdated)="onRowUpdated($event)"
    (onInitialized)="onInitialized($event)"
    [masterDetail]="{ enabled: true, template: 'detail' }"
  >
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-load-panel
      [enabled]="true">
    </dxo-load-panel>

    <dxi-column dataField="ENABLED" caption="Состояние" [width]="100"></dxi-column>
    <dxi-column dataField="NAME" caption="Название" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="LAST_START" caption="Последний запуск" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="HAS_ERRORS" caption="Ошибки" [allowEditing]="false" cellTemplate="diffCellTemplate"></dxi-column>

    <div *dxTemplate="let d of 'diffCellTemplate'">
      <ng-container *ngIf="d.data.HAS_ERRORS"><span (click)="onClickError(d)" class="has-errors">{{ d.data.ERRORS.length }}</span></ng-container>
      <ng-container *ngIf="!d.data.HAS_ERRORS">-</ng-container>
    </div>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>

    <dxo-editing
      mode="cell"
      [allowUpdating]="true">
    </dxo-editing>

    <div *dxTemplate="let employee of 'detail'">
      <dx-data-grid
          [dataSource]="employee.data.ERRORS"
          [showBorders]="true"
          [columnAutoWidth]="true">
      </dx-data-grid>
    </div>
  </dx-data-grid>
</div>
