::ng-deep .dx-datagrid .dx-data-row > td.bullet {
  padding-top: 0;
  padding-bottom: 0;
}

::ng-deep .dx-datagrid-content {
  overflow-x: auto;
}

.grid-container {
  margin: 30px;
  padding: 30px 50px;
  background: #E5E5E5;
  border-radius: 25px;

  & h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    color: #444;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .grid-container {
    margin: 30px 10px;
    padding:  20px 10px;

    & h2 {
      margin-bottom: 10px;
    }
  }
}
